<h1>Entry</h1>

<p>
	<b>ID:</b>
	<%= @entry.id %>
</p>

<p>
	<b>EntryType:</b>
	<%= @entry.entry_type.name %>
</p>

<p>
	<b>Complete:</b>
	<%= @entry.complete %>
</p>

<p>
	<b>Value:</b>
	<%= @entry.to_s %>
</p>

<h2>Attribs</h2>

<% for attrib in @entry.attribs %>
	<blockquote>
		<b><%= attrib.attrib_type.name %>:</b>
		<%= attrib %>
	</blockquote>
<% end %>

<% if !@entry.complete %>

	<h2>Missing Attribs</h2>
	<ul>
		<% for attrib_type in @entry.missing %>
			<li><%= attrib_type.name %></li>
		<% end %>
	</ul>
	<p><%= link_to 'Add Attrib', new_entry_attrib_path(@entry) %></p>
<% end %>