<h1>New attribute</h1>

<%= error_messages_for :attribute %>

<% form_for(@attribute) do |f| %>
  <p>
    <b>Id</b><br />
    <%= f.text_field :id %>
  </p>

  <p>
    <b>Attribute type</b><br />
    <%= f.text_field :attribute_type_id %>
  </p>

  <p>
    <b>Entry</b><br />
    <%= f.text_field :entry_id %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', attributes_path %>
