<h1>Editing entry_type</h1>

<%= error_messages_for :entry_type %>

<% form_for(@entry_type) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Complex</b><br />
    <%= f.check_box :complex %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @entry_type %> |
<%= link_to 'Back', entry_types_path %>
