<h1>List of EntryTypes</h1>

<table>
	<thead>
		<th>Name</th>
		<th>AttributeTypes</th>
		<th>Actions</th>
	</thead>
	<tbody>
		<% for entry_type in @entry_types %>
			<tr>
				<td><%= entry_type.name %></td>
				<td><%= entry_type.complex ? entry_type.attrib_types.size : '&nbsp;' %></td>
				<td>
					<%= link_to 'Show', entry_type %> |
					<%= link_to 'Edit', edit_entry_type_path(entry_type) %> |
					<%= link_to 'Delete', entry_type, :confirm => 'Are you sure?', :method => :delete %>
				</td>
			</tr>
		<% end %>
	</tbody>
	
</table>

<p>
	<%= link_to 'New', new_entry_type_path %>
</p>