<h1>Listing attribute_values</h1>

<table>
  <tr>
    <th>Attribute</th>
    <th>Value</th>
  </tr>

<% for attribute_value in @attribute_values %>
  <tr>
    <td><%=h attribute_value.attribute_id %></td>
    <td><%=h attribute_value.value %></td>
    <td><%= link_to 'Show', attribute_value %></td>
    <td><%= link_to 'Edit', edit_attribute_value_path(attribute_value) %></td>
    <td><%= link_to 'Destroy', attribute_value, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New attribute_value', new_attribute_value_path %>
