<h1>New attribute_value</h1>

<%= error_messages_for :attribute_value %>

<% form_for(@attribute_value) do |f| %>
  <p>
    <b>Attribute</b><br />
    <%= f.text_field :attribute_id %>
  </p>

  <p>
    <b>Value</b><br />
    <%= f.text_field :value %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', attribute_values_path %>
