<h1>New attribute_type</h1>

<%= error_messages_for :attribute_type %>

<% form_for(@attribute_type) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Entry type</b><br />
    <%= f.select :entry_type_id, EntryType.find(:all).collect {|t| [ t.name, t.id ] }, { :prompt => true } %>
  </p>

  <p>
    <b>Collection</b><br />
    <%= f.check_box :collection %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', attribute_types_path %>
