<p>
  <b>Id:</b>
  <%=h @attribute_type.id %>
</p>

<p>
  <b>Name:</b>
  <%=h @attribute_type.name %>
</p>

<p>
  <b>Entry type:</b>
  <%=h @attribute_type.entry_type.name %>
</p>

<p>
  <b>Collection:</b>
  <%=h @attribute_type.collection %>
</p>


<%= link_to 'Edit', edit_attribute_type_path(@attribute_type) %> |
<%= link_to 'Back', attribute_types_path %>
