<h1>Listing AttribTypes</h1>

<table>
  <tr>
  	<th>Name</th>
	<th>EntryType</th>
	<th>Actions</th>
  </tr>

<% for attrib_type in @attrib_types %>
  <tr>
  	<td><%= attrib_type.name %></td>
  	<td><%= attrib_type.entry_type.name %></td>
    <td>
    	<%= link_to 'Show', attrib_type %> |
    	<%= link_to 'Edit', edit_attrib_type_path(attrib_type) %> |
    	<%= link_to 'Delete', attrib_type, :confirm => 'Are you sure?', :method => :delete %>
	</td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New AttribType', new_attrib_type_path %>
