<h1>Entry Type &gt; Attribute Type Associations</h1>

<table>
  <tr>
    <th>Entry type</th>
    <th>Attribute type</th>
  </tr>

<% for entry_type_attribute_type in @entry_type_attribute_types %>
  <tr>
    <td><%=h entry_type_attribute_type.entry_type.name %></td>
    <td><%=h entry_type_attribute_type.attribute_type.name %></td>
    <td><%= link_to 'Show', entry_type_attribute_type %></td>
    <td><%= link_to 'Edit', edit_entry_type_attribute_type_path(entry_type_attribute_type) %></td>
    <td><%= link_to 'Destroy', entry_type_attribute_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Attribute Type Association', new_entry_type_attribute_type_path %><br />
<%= link_to 'Jump to Entry Types', entry_types_path %><br />
<%= link_to 'Jump to Attribute Types', attribute_types_path %>
